form.navbar-form
  .form-group
    input.form-control(type='text', ng-model='email', placeholder='Email')
  .form-group
    input.form-control(type='password', ng-model='password', placeholder='Password')
  .form-group
    button.form-control(type='button',ng-click="login(username, password)") Login